{% extends 'base.html' %}
{% load static %}

{% block title %}{{ current_category.name }}{% endblock %}

{% block content %}
<section class="project-items-header">
  <h1>{{ current_category.name }}</h1>
  <p>{{ current_category.description|default:"Разгледайте мебелите, включени в този проект." |linebreaksbr}}</p>
</section>

<section class="project-items-">
  {% if furniture %}
    <div class="project-items-grid">
      {% for item in furniture %}
        <div class="project-item-card">
          {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.name }}">
          {% endif %}
          <h3>{{ item.name }}</h3>
         {% if item.description %}
             <p>{{ item.description|truncatewords:20|linebreaksbr }}</p>
         {% endif %}

            <a href="{% url 'furniture-details' item.slug item.id %}" class="fancy-button">Към проекта</a>

        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="empty-message">Все още няма добавени мебели.</p>
  {% endif %}
</section>
{% endblock %}
